* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #ecf0f3;
  --light-drop-shadow: ;
  --dark-drop-shadow: ;
  --primary-font: 'Lato', sans-serif;
  --heading-font-weight: 700;
  --primary-font-color: #555;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--main-bg-color);
  color: var(--primary-font-color);
  font-family: var(--primary-font);
  font-weight: var(--heading-font-weight);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 430px;
  height: 700px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: var(--main-bg-color);
  /* dark shad0w bottom right side and light shadow top left */
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}

.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}

.password-holder {
  width: 100%;
  padding: 75px 5px 5px 5px;
}

.password-holder input {
  text-align: center;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: var(--primary-font-color);
  padding: 20px 10px 20px 5px;
}

.password {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

/* div containing the buttons */
.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* button classes */
.generate,
.copy {
  outline: none;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 20px;
  font-family: var(--primary-font);
  color: #fff;
  text-align: center;
  background: var(--main-bg-color);
  /* neomrphic effect using shadow */
  box-shadow: 3px 3px 3px #cbced1, -3px -3px 8px #ffffff;
}

.generate:hover,
.copy:hover,
.generate:active,
.copy:active {
  background: var(--main-bg-color);
}

button {
  margin-right: 20px;
  background: transparent;
  border: none;
  height: 35px;
  width: 28px;
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 8px #ffffff;
  border-radius: 8px;
  /* box-shadow 0.3s ease-in-out; */
  transition: box-shadow 2s;
}
button:hover {
  box-shadow: inset 4px 4px 4px #cbced1, inset -4px -4px 4px #ffffff;
  /* box-shadow: inset -3px -3px -3px #b1b1b1, inset 8px 8px -8px #ffffff; */
}
