* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background: #ecf0f3;
}

.form {
  width: 430px;
  height: 700px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #ecf0f3;
  /* dark shad0w bottom right side and light shadow top left */
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}

.sub-title {
  text-align: center;
  font-size: 15px;
  padding-top: 7px;
  letter-spacing: 3px;
}

.password-holder {
  width: 100%;
  padding: 75px 5px 5px 5px;
}

.password-holder input {
  text-align: center;
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
}
.password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.generate,
.copy {
  outline: none;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  color: #fff;
  text-align: center;
  background: #ecf0f3;
  /* neomrphic effect using shadow */
  box-shadow: 3px 3px 3px #b1b1b1, -3px -3px 8px #ffffff;
  transition: 0.5s;
}

.generate:hover,
.copy:hover {
  background: #ecf0f3;
}
.generate:active,
.copy:active {
  background: #ecf0f3;
}

button {
  margin-right: 20px;
  background: transparent;
  border: none;
  height: 35px;
  width: 28px;
  box-shadow: inset 3px 3px 3px #b1b1b1, inset -3px -3px 8px #ffffff;
  border-radius: 8px;
}
button:hover {
  transition: 0.02s;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  /* box-shadow: inset -3px -3px -3px #b1b1b1, inset 8px 8px -8px #ffffff; */
}

.img {
  position: relative;
  right: 2px;
  height: 20px;
  width: 20px;
  background: transparent;
}

.img:hover {
  /* opacity: 0.5; */
  position: relative;
  right: 2px;
  height: 20px;
  width: 20px;
  background: transparent;
  /* box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff; */
  border-radius: 20%;
}
